#======================================
# Directories
#--------------------------------------
public/*.js
public/*.js.map
node_modules/

#======================================
# IDE generated
#--------------------------------------
.idea/
*.iml

#======================================
# OS generated
#--------------------------------------
.DS_Store
package-lock.json